& {
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    thead tr td {
        background-color: #f6f8f8;
        padding: 0 15px;
        height: 40px;
        border: 1px solid #edf1f2;
        font-weight: bold;
        width: 50%;
    }
    tbody tr td {
        padding: 0 15px;
        height: 40px;
        border: 1px solid #edf1f2;
        width: 50%;
    }
}

.dependence {
    margin-top: 10px;
}

.dependence-link {
    color: #369;
    &:hover{
        text-decoration: underline;
    }
}