& {
    width: 100%;
}

.component-nav-bar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #FDFDFD;
    border-bottom: 1px solid rgba(43, 50, 57, 0.15);
    .left {
        display: flex;
    }
}

.navbar-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: color, background-color .3s;
    &:hover {
        cursor: pointer;
        color: #67315e;
    }
    &.active {
        color: #67315e;
        background-color: #f9f9f9;
        border-bottom: 2px solid #67315e;
        padding-bottom: 8px;
    }
}