.demo-item {
    margin: 10px;
    padding: 0 10px 10px 10px;
    background: white;
}

.demo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    span {
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
    }
}

.component-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px;
    position: relative;
    .left {
        display: flex;
        .component-name {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
            white-space: nowrap;
        }
        .component-version {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-size: 14px;
            white-space: nowrap;
        }
        .support {
            display: flex;
            align-items: center;
            margin-left: 10px;
            padding: 2px 5px;
            background: whitesmoke;
            border-radius: 3px;
        }
    }
    .right {
        display: flex;
        .component-install-container {
            display: flex;
            .component-install {
                display: flex;
                align-items: center;
                word-break: break-all;
                padding: 5px 10px;
                min-width: 400px;
                vertical-align: middle;
                border: 1px solid #ddd;
                border-radius: 3px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                outline: none;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
            }
            .copy {
                margin-right: 10px;
                border-left: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        .switch-group {
            display: flex;
        }
    }
}

.git-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 20px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
    &:hover {
        background-color: white;
    }
}