& {
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    thead tr td {
        background-color: #f6f8f8;
        padding: 0 15px;
        height: 40px;
        border: 1px solid #edf1f2;
        font-weight: bold;
    }
    tbody tr td {
        padding: 0 15px;
        height: 40px;
        border: 1px solid #edf1f2;
    }
}