a {
    text-decoration: none;
}

.hero {
    height: 350px !important;
    padding-top: 80px;
    .hero-logo{
        height: 35px;
        width: 120px;
        fill: rgba(255, 255, 255, 0.8);
    }
    &.hero-components {
        background-image: linear-gradient(225deg, #5a3e73, #923267 86%, #924172 0);
    }
    &.hero-updater {
        background-image: linear-gradient(225deg, #732b2b, #ad664a 86%, #a76262 0);
    }
    &.hero-designer {
        background-image: linear-gradient(225deg, #431f7b, #9d5cbf 86%, #9d69b7 0);
    }
    .hero-jump {
        margin-top: 45px;
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0 0 5px white inset;
        }
    }
    .super-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .brand {
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
            font-size: 45px;
        }
        .description {
            margin-top: 10px;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
            font-size: 25px;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #333;
    padding: 50px;
    color: #ddd;
    .footer-item-container {
        display: flex;
        flex-direction: column;
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .item {
            margin: 10px 0;
            padding: 0;
        }
    }
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
}