.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #FDFDFD;
    border-bottom: 1px solid rgba(43, 50, 57, 0.15);
}

.navbar-title {
    font-size: 18px;
    font-weight: bold;
}

.second-designer-jump-button {
    margin-left: 10px;
}